# Ignore hidden files.
.*
!.gitignore
!.gitmodules

# Don't ignore Platform.sh configuration files.
!.platform*

# Ignore contrib folders and libraries folder.
libraries
modules/contrib
themes/contrib

